{% extends "base.html" %}
{% block "title"%}Klaviaturregistret{% endblock %}
{% block "content" %}
<div>
  <div class="container landing-bg">
    <div class="landing-form">
      <a href="{% url "social:begin" "facebook" %}" class="btn btn-lg btn-primary btn-block">Logga in med Facebook</a>
      <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-lg btn-primary btn-block">Logga in med Google</a>
    </div>
  </div>
  <p>Bild av Gianpero Addis (<a href="https://www.flickr.com/photos/punkjazz/">Flickr</a>), CC-BY 2.0</p>
</div>
{% endblock %}