{% extends "base.html" %}
{% load bootstrap3 %}
{% block "title"%}{{ object.name }} - Klaviaturregistret{% endblock %}
{% block "content" %}
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>{{ object.name }}</h1>
    <p>{{ object.address.text }}</p>
    <p>Publik: {{ object.audience_min }} - {{ object.audience_max }}
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    {% for image in object.images.all %}
    <div class="col-md-1 col-xs-3">
      <a href="{{ image.image.url }}">
        <img title="{{ image.caption }}" src="{{ image.thumbnail.url }}" alt="{{ image.caption }}" class="img-responsive img-rounded" />
        <div class="caption">
          <p class="text-muted small">{{ image.caption | truncatewords:10 }}</p>
        </div>
      </a>
    </div>
    {% empty %}
    <p class="text-muted">Inga bilder än!</p>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-md-6">
      <a data-toggle="collapse" data-target="#image-form" aria-expanded="true" aria-controls="demo">
        Lägg till bild<span class="caret"></span>
      </a>
      <div id="image-form" class="collapse">
        <form action="{% url 'create_image' pk=object.pk %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {# bootstrap_form image_form #}
          {{ image_form }}
          {% buttons %}
          <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "picture" %} Lägg till bild
          </button>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-6">
      <h2>Beskrivning</h2>
      {% if object.descriptions.all.0 %}
      <p>{{ object.descriptions.all.0.text }}</p>
      <p class="text-muted">&mdash; {{ object.descriptions.all.0.author }}, {{ object.descriptions.all.0.timestamp }}</p>
      {% else %}
      <p class="text-muted">Inga beskrivningar än.</p>
      {% endif %}

      {% if object.descriptions.all.1 %}
      <div>
        <a class="" data-toggle="collapse" data-target="#old_descriptions" aria-expanded="true" aria-controls="demo">
          Visa äldre beskrivningar<span class="caret"></span>
        </a>
        <div id="old_descriptions" class="collapse">
          {% for description in object.descriptions.all|slice:"1:" %}
          <p>{{ description.text | linebreaks }}</p>
          <p class="text-muted">&mdash; {{ description.author }}, {{ description.timestamp }}</p>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      <div>
        <a class="" data-toggle="collapse" data-target="#description-form" aria-expanded="true" aria-controls="demo">
          Redigera beskrivning<span class="caret"></span>
        </a>
        <div id="description-form" class="collapse">
          <form action="{% url 'create_description' pk=object.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form description_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Redigera beskrivning
            </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-md-4 pull-right" role="map">
      <h2>Karta</h2>
      <iframe width="400" height="400" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBq7cIi8M4OreHflOzG328po6aiTCNtv2A
          &q={{ object.address }}">
      </iframe>
    </div>

    <div class="col-md-6"> 
      <h2>Kontaktuppgifter</h2>
      {% for contact in object.contacts.all %}
      <p>
        <strong>{{ contact.name }}</strong><br/>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:{{ contact.email }}">{{ contact.email|default_if_none:"-" }}</a><br/>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ contact.phone|default_if_none:"-" }}<br/>
      </p>
      {% empty %}
      <p class="text-muted">Kontaktuppgifter saknas.</p>
      {% endfor %}
      {% if user.is_authenticated %}
      <div>
        <a class="" data-toggle="collapse" data-target="#contact-form" aria-expanded="true" aria-controls="demo">
          Lägg till kontaktuppgift<span class="caret"></span>
        </a>
        <div id="contact-form" class="collapse">
          <form action="{% url 'create_contact' pk=object.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form contact_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Lägg till kontaktuppgift
            </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-md-6">
      <form action="{% url 'delete_venue' pk=object.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "trash" %} Radera lokal
        </button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
