{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block "title"%}Lokaler - Klaviaturregistret{% endblock %}
{% block "content" %}
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Lokaler</h1>
  </div>
</div>
<div class="container bs-docs-container">
  {% for venue in object_list %}
  <div class="media row">
    {% if venue.images.all %}
    <a class="media-left" href="{% url 'venue_detail' venue.id %}">
      <img src="{{ venue.images.all.0.thumbnail.url }}" alt="{{ venue.images.all.0.images.caption }}">
    </a>
    {% endif %}
    <div class="media-body">
      <h4 class="media-heading"><a href="{% url 'venue_detail' venue.id %}">{{ venue.name }}</a></h4>
      <div class="col-md-6">
        {% if venue.descriptions.all %}
        <p class="small">{{ venue.descriptions.all.0.text | linebreaks | truncatewords:40 }}</p>
        <p class="text-muted small">&mdash; {{ venue.descriptions.all.0.author }}, {{ venue.descriptions.all.0.timestamp }}</p>
        {% endif %}
      </div>
      <p class="small">Adress: {{ venue.address.text }}</p>
      <p class="small">Publik: {{ venue.audience_min }} &mdash; {{ venue.audience_max }}</p>
    </div>
  </div>
  {% endfor %}
  {% if user.is_authenticated %}
  <div class="row">
    <a class="" data-toggle="collapse" data-target="#create-venue-form" aria-expanded="true" aria-controls="demo">
      Lägg till lokal <span class="caret"></span>
    </a>
    <div id="create-venue-form" class="collapse">
      <form action="{% url 'create_venue' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form create_venue_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Lägg till lokal
        </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
  {% endif %}
  {% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
      <a href="{% url 'venue_list' %}?page={{ page_obj.previous_page_number }}">föregående</a>
      {% endif %}
      <span class="page-current">
          Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
      <a href="{% url 'venue_list' %}?page={{ page_obj.next_page_number }}">nästa</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
</div>
{% endblock %}
